/* Header section */
.header {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.header img {
    max-width: 100px;
    height: auto;
}

.header ul, .header li a {
    list-style: none;
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 20px;
}

#ctaBtn {
    background-color: rgb(13, 184, 13);
    color: white ;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#ctaBtn:hover {
    background-color: rgb(10, 150, 10);
}

/*//////////////////////////////*/

/* Hero Section */
.hero {
    background-color: #f8f9fa;
    padding: 80px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 3em;
}

.hero img {
    max-width: 40%;
    height: auto;
    flex: 0 1 50%;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 3em;
}

.hero   h1 {
    font-size: 4em;
    margin-bottom: 20px;
    flex: auto;
    font-weight: 650;
}

.hero p {
    font-size: 15px;
    margin-bottom: 30px;
}

.hero a {
    background-color: rgb(13, 184, 13);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.hero a:hover {
    background-color: rgb(10, 150, 10);
}
/*//////////////////////////////*/

