/* Header section */
.header {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.header img {
    max-width: 100px;
    height: auto;
}

.header ul, .header li a {
    display: flex;
    flex-wrap: wrap; /*added this and the display prop above this line so the nav folds when shrinked instead of going to the left and remaining content is unseen*/
    list-style: none;
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease;
}

.header ul, .header li a:hover {
    color: rgb(13, 184, 13);   /*just added this along with the transition prop above to add that effect yg!*/
}



#ctaBtn {
    background-color: rgb(13, 184, 13);
    color: white ;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#ctaBtn:hover {
    background-color: rgb(10, 150, 10);
}

/*//////////////////////////////*/

/* Hero Section */
.hero {
    background-color: #f8f9fa;
    padding: 80px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 3em;
}

.hero img {
    max-width: 40%;
    min-width: 40%; /* Ensures the image doesn't shrink too small */
    height: auto;
    flex: 0 1 50%;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 3em;
}

.hero   h1 {
    font-size: 4em;
    margin-bottom: 20px;
    font-weight: 650;
}

.hero p {
    font-size: 15px;
    margin-bottom: 30px;
}

.hero a {
    background-color: rgb(13, 184, 13);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.hero a:hover {
    background-color: rgb(10, 150, 10);
}

/*//////////////////////////////*/

/* Client Section */
.client {
    background-color: #ffffff; /*client border section/container*/
    padding: 80px 70px;
}

.client h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.client p {
    text-align: center;
}
/* i had to seperate these props from the id because it was not reflecting */
.client img {
    width: 80px;
    height: 80%;
}

#logos {
    display: flex; /*allows the images to be laid out straight in horizontal format*/
    justify-content: center; /*allows the images to be in the center of their section*/
    gap: 80px;
    flex-wrap: wrap ;    /*causes the images to be wrapped within the flex container not going beyond the client section*/
}

/*//////////////////////////////*/

/* Community Section */
.community {
    background-color: #ffffff; 
    padding: 80px 70px;
}

 .community h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
 }

 .community p {
    text-align: center;
 }

 #pCard {
    align-content: flex-start;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
 }

 #cards {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    flex: 1;
    min-width: 280px;
    max-width: 400px;
    height: 300px;
    opacity: 25%;  /*the visibility of the card*/
    transition: all 0.3s ease; /*causes the transition between the card and the hover action*/
 }

 #cards:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.187); /**/
    filter: grayscale(0); /*this is what makes the card look very dull*/
    opacity: 1; /*this works hand in hand with the filter, 1 - visible, 0 - invisible, dont use 0*/
 }

 #cards img {
    justify-content: center;
    padding: 20px;
 }

 #cards p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
 }

/*//////////////////////////////*/

/* Pixelgrade Section */
/* You see this Pixelgrade section, I used the scope from the hero section and just reversed it since they a very similar */
.pixelgrade {
    background-color: #ffffff;
    padding: 80px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.pixelgrade img {
    max-width: 40%;
    min-width: 40%; /* Ensures the image doesn't shrink too small */
    height: auto;
    flex: 0 1 50%;
    margin-right: 90px;
    margin-left: 20px;
    margin-top: 3em;
}

.pixelgrade h2 {
    font-size: 40px;
    font-weight: 500;
    margin-right: 20px;
}

.pixelgrade p {
    margin-right: 80px;
    margin-top: 1.5em; /*space between this and the h2 section*/
    margin-bottom: 2em; /*I added this here to add the space btween this and the button because the prop wasn't working in the button section*/
}

.pixelgrade a {
    background-color: rgb(13, 184, 13);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.pixelgrade a:hover {
    background-color: rgb(10, 150, 10);
} 

/*//////////////////////////////*/